visual/RefrigeratorSecurity/NodeRedFlow
[{"id":"fe543ef3.8c5aa","type":"function","z":"8bb66932.8c5828","name":"compile","func":"if(msg.topic == \"data\"){\n    if(context.image == null){\n        context.data = msg.payload;\n    }\n    else{\n        var img = context.image;\n        var data = msg.payload;\n        var newMsg = {payload: data, \n        attachments: [{filename: 'image.jpg', content: img }]};\n        return newMsg;\n    }\n}\nelse if(msg.topic == \"image\"){\n    if(context.data == null){\n        context.image = msg.payload;\n    }\n    else{\n        var img = msg.payload;\n        var data = context.data;\n        var newMsg = { payload: data, \n            attachments: [{filename: 'image.jpg', content: img }]\n        };\n        return newMsg;\n    }\n}\nelse{\n    return null;\n}\n\n\n","outputs":1,"noerr":0,"x":546,"y":296,"wires":[["5dc13977.55a5b8"]]},{"id":"7df414cb.009e0c","type":"http response","z":"8bb66932.8c5828","name":"response","x":612,"y":554,"wires":[]},{"id":"aa1b579c.1b69a8","type":"http in","z":"8bb66932.8c5828","name":"","url":"/notify","method":"post","swaggerDoc":"","x":149,"y":437,"wires":[["dedbf04e.7d18c","e5d0e985.bc8f58","d42cbe38.73df2","d826b00c.1d8ad"]]},{"id":"e5d0e985.bc8f58","type":"template","z":"8bb66932.8c5828","name":"response with \"Ok!\"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Ok!","x":416,"y":493,"wires":[["7df414cb.009e0c"]]},{"id":"dedbf04e.7d18c","type":"debug","z":"8bb66932.8c5828","name":"","active":false,"console":"false","complete":"payload","x":387,"y":634,"wires":[]},{"id":"8665f2.7272ba1","type":"twitter out","z":"8bb66932.8c5828","twitter":"","name":"Tweet","x":1107,"y":432,"wires":[]},{"id":"5dc13977.55a5b8","type":"function","z":"8bb66932.8c5828","name":"checkConditions","func":"var email = {payload: msg.payload.message, attachments: msg.attachments, topic: msg.payload.emailTopic};\nvar twilio = {payload: msg.payload.message};\nvar twitter = null;\n\n\nvar data = msg.payload;\n\n// trusted person\nif(data.trustedPerson == true){\n    twitter = {payload: msg.payload.message};\n}\n\n\nreturn [email, twitter, twilio];\n","outputs":"3","noerr":0,"x":796,"y":432,"wires":[["45751ba5.025e34"],["8665f2.7272ba1"],["2881727e.f04bfe"]]},{"id":"45751ba5.025e34","type":"e-mail","z":"8bb66932.8c5828","server":"smtp.gmail.com","port":"465","name":"","dname":"emailOwner","x":1083,"y":351,"wires":[]},{"id":"2881727e.f04bfe","type":"twilio out","z":"8bb66932.8c5828","twilio":"1ee6d841.aa07e8","twilioType":"sms","url":"","number":"","name":"Notify Owner","x":1081,"y":508,"wires":[]},{"id":"fda9a248.07ce","type":"file in","z":"8bb66932.8c5828","name":"take Image","filename":"/home/pi/image.jpg","format":"","x":325,"y":132,"wires":[["fe543ef3.8c5aa"]]},{"id":"d826b00c.1d8ad","type":"function","z":"8bb66932.8c5828","name":"Image Topic","func":"msg.topic = \"image\";\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":273,"wires":[["fda9a248.07ce"]]},{"id":"d42cbe38.73df2","type":"function","z":"8bb66932.8c5828","name":"DataTopic","func":"msg.topic = \"data\";\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":352,"wires":[["fe543ef3.8c5aa"]]},{"id":"7b822d.cc1a1dd4","type":"comment","z":"8bb66932.8c5828","name":"about receiving objects","info":"This flow expects object in the form:\n{\n    'message': 'some message',\n    'trustedPerson': True/False,\n    'emailTopic': 'topic for email'\n}","x":800,"y":159,"wires":[]},{"id":"1ee6d841.aa07e8","type":"twilio-api","z":"","sid":"","from":"","name":"Twilio"}]